html
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		link(href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,vietnamese', rel='stylesheet', type='text/css')
	body 
		div#wrapper
			div#header
				div#top_menu
					ul
						li 
							a(href="javascript:void(0)" id="title_link") Home
				p#title PO Trần
			div#main
				div#left_block
					div#left_content
						p#content_title 
							a(href="javascript:void(0)" id="title_link") Tiêu đề của bài viết
				div#right_block
					div#search
						p#search_title Search
						input(type="text" id="search_input" placeholder="Tìm kiếm...")
		script(src='//code.jquery.com/jquery-1.11.3.min.js')
		script(src='/js/index.js')